# Byte-compiled / optimized
__pycache__/
*.py[cod]
*.o
*.so

# Text edits
*.swp
*.orig

# PCL compiled binaries
downsample/build
downsample/downsample
example/

# Training
outputs/
pointwise_al/

# Profiling
callgrind.out*
*.dSYM

# Misc
.DS_Store
.vscode
*.log
*.pid